
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color:black;

}
p{

	  font-family: 'Special Elite', cursive; /*google font family*/
  font-size:1em/1.4;  /*font size for all <p> tag text*/
}







/*index.html*/
.myGrid {
  display: grid; /*displaying the grid*/
  grid-gap: 20px; /*gap width between grid areas*/
  grid-row-gap: 26em; /*grid space between rows*/
  grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
 /*ammount of colums, width of columns, minimum 500px and max 1fr, repeated for each grid area*/
grid-template-rows:repeat(9,1067px);
 						  /*height of each row, 9 rows, 1067px each*/

  
  grid-template-areas:    /*layout of grid sections*/
  						   "side1 side3" 
                          "side2  side4"
                          "side5 side6"
                           "side9 side10"
  						   "side11 side12"
                           "side13 side14"
                          "side15  side16"
                          "side17 side18"
                          " keyClick"

                          ; 
  padding:20px; /*padding space of grid in viewport*/
}

.wrapper{
	width:1450px;
}
 .side1,.side2,.side5,.side7, .side9,.side11,.side13,.side15,.side17{
  grid-area: side1, side2,side5,side7, side9,side11,side13,side15,side17; /*grid areas for myGrid display*/
  background-color: none;
 background-image: url("../../art175_website2/images/paper.png");
 background-size: cover ;
   background-position: center;
   background-repeat: no-repeat;
  text-align:left;
  padding:4em;

}


.side3,.side4,.side6,.side8,.side10,.side12,.side14,.side16,.side18 {
  grid-area: side3, side4,side6,side8, side10,side12,side14,side16,side18; /*img grid areas for myGrid display*/
  background-color: none;
   text-align:center;
 background-image: url("../../art175_website2/images/paper.png");
 background-size: auto;
   background-position: center;
   background-repeat: no-repeat;

  

}
 .child {
  
  text-align: center; /*all text positioned to center*/
  padding: 2em; /*padding on all 4 sides*/
  padding-top:7em; /*padding on just top*/
  
  display: inline-flex; /*image placement in flex*/
  flex-direction:column; /*stack images*/
  justify-content: center; /*bring all content to center*/
  height:100%; 
   text-align:center; /*bring text to center*/
    width:auto;

}
.picSize{
	width:80%; /*child img sizes*/

}
.keyClick{ /*svg*/
  grid-area: keyClick;
  background-color: none;
  padding:1em;
   background-image: url("../../art175_website2/images/key.svg");
    background-size:5em ;
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0;
   filter:invert(1);

}
.keyClick:hover{
opacity: 100;
}

#statusText{
	color:transparent;
}




 
/*page 2*/
 .page2{
 	background-image: url("../../art175_website2/images/smoke.gif"); /*background img*/
 background-size: cover ; /*background image, cover space with entire img */
   background-repeat: no-repeat; /*don't repeat background img to fill space*/
 }


 
.myLastGrid {
  display: grid; /*displaying the grid*/
  grid-gap: 10px; /*gap width between grid areas*/
  grid-row-gap: 10em;
  grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
 /*ammount of colums, minimum (500px) and maximum (1fr) width of columns, repeat for all columns*/
grid-template-rows:repeat(3,300px);
 						  /*height of each row*/

  
  grid-template-areas:   /*gap areas layout*/
  						   "news1 news1"
  						   ". news2"
                           " news3 ."
                     
                          

                          ; 
  padding:20px;
}

.news3, {
  grid-area: news3 ; /*myLastGrid area name*/
  background-color: none; /*transparent background*/
   justify-content:left; /*place content on left*/
  

}
.news2{
  grid-area: news2 ;
  background-color: none;
justify-content:right;
 
 
}
.news1{
  grid-area: news1 ;
  background-color: none;
  background-size: cover ;
 
}






 
 








/*keyholes.html */

.myGridkeys {
  display: grid; /*displaying the grid*/
  grid-gap: .2em; /*gap width between grid areas*/
  grid-row-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
/* width of columns, minimum 200px and max 1fr, repeated for each grid area, fill area*/
grid-template-rows:repeat(auto-fill, minmax(200px,1fr));
 		/* width of rows, minimum 500px and max 1fr, repeated for each grid area*/

  
  grid-template-areas:  /* grid areas layout*/
  						   "key key"
                           "key2 key2"
                          "key3 key3 "
                          "key4 key4 "
                          " key5 key5 "
                           "key6 key6 "
                          " key7 key7 "

                          ; 
  padding:20px;
margin-left:-20px;
}

.key,.key2,.key3,.key4,.key5,.key5,.key6,.key6,.key7 {
  grid-area: key,key2,key3,key4,key5,key5,key6,key6,key7;
   

}



/*------------------------------------*/
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;

}
.inverted:hover{ /*img filter*/
	filter:invert(1);
}

/* video popup */
.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 5;
  margin-left: -80px;
}
 

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup img (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* ----------------------*/
button{
	display:flex;
	position:center;
	width:300px;
}
button:hover{
	
background-color:red;}

/* ----------------------*/

 