
.myGrid {
  display: grid; /*displaying the grid*/
  grid-gap: 20px; /*gap width between grid areas*/
  grid-row-gap: 26em;
  grid-template-columns: repeat(2, 1fr); /*ammount of colums, width of columns*/
  grid-template-rows:  /*200px 25em 40% ;*/
 						 auto-fit;
 						  /*height of each row*/
/*   grid-template-areas: "side1 main main"
                       "side2 main main"
                       "side3 main main"; */
  
  
/*   grid-template-areas: "main main side1"
                          "main main side2"
                          "main main side3"; */
  
  grid-template-areas:    "main main"
  						   "side1 side3"
                         /* "main main main"
                          "main main main"*/
                          "side2  side4"
                          "side5 side6"
                          "keyClick keyClick"

                          ; 
  padding:20px;
}


 

.main {
  grid-area: main;
  background-color: crimson;

    
}
p{

	  font-family: 'Special Elite', cursive;
  font-size:1em/1.4; 
}

 

 #target{
 	color:black;
 	  display: inline-block;
  margin: 100vh auto 100vh;
 
  padding: 4em 3em;
  position: relative;
 }

 .child {
  
  text-align: center;
  padding: 2em;
  
  display: flex;
  justify-content: space-between;
}
.child > span {
  height: auto;
  
  flex: 0 1 30%;
}


.side1,.side2,.side5,.side7 {
  grid-area: side1, side2,side5,side7;
  background-color: none;
 background-image: url("../../art175_website2/images/paper.png");
 background-size: cover ;
   background-position: center;
   background-repeat: no-repeat;
  text-align:left;
  padding:4em;

}
.keyClick{
  grid-area: keyClick;
  background-color: none;
  padding:4em;
   background-image: url("../../art175_website2/images/key.svg");
    background-size:5em ;
   background-position: center;
   background-repeat: no-repeat;

}
/*a,li{
  font-size: 20pt;
  text-decoration: none;
  list-style:none;
  color:grey;
}*/

/*.side2 {
  grid-area: side2;
  background-color: none;
   text-align:center; 
}*/

.side3,.side4,.side6,.side8 {
  grid-area: side3, side4,side6,side8;
  background-color: none;
   text-align:right;
/*   writing-mode: vertical-rl;
  text-orientation: upright;
  use for messed up secret page*/
 background-image: url("../../art175_website2/images/paper.png");
 background-size: auto;
   background-position: center;
   background-repeat: no-repeat;
}
 
 



html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

}




/*keyholes.html start*/

.myGridkeys {
  display: grid; /*displaying the grid*/
  grid-gap: 20px; /*gap width between grid areas*/
  grid-row-gap: 26em;
  grid-template-columns: repeat(4, .5fr); /*ammount of colums, width of columns*/
  grid-template-rows:  /*200px 25em 40% ;*/
 						 auto-fit;
 						  /*height of each row*/
/*   grid-template-areas: "side1 main main"
                       "side2 main main"
                       "side3 main main"; */
  
  
/*   grid-template-areas: "main main side1"
                          "main main side2"
                          "main main side3"; */
  
  grid-template-areas:    "key key key key"
  						  

                          ; 
  padding:20px;
}

.key {
  grid-area: key;
   
   text-align:right;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

