body, html {
  height: 100%;

background-color:black;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("images/posterc.png");
  min-height: 75%;  
}

.menu {
  display: none;
}
body {font-family: "Karma", sans-serif; color:#fff;}
.w3-bar-block .w3-bar-item {padding:20px}
h1,h2,h3,h4,h5,h6{color:rgb(232,65,168);}